{% extends "layout.html" %}
{% block pageIncludes %}
    <script src="{{ app.request.basepath }}/js/AjaxEditableElements.js"></script>
    <script src="{{ app.request.basepath }}/js/AjaxDeleteTableRow.js"></script>
    <script src="{{ app.request.basepath }}/js/AjaxAddTableRow.js"></script>
{% endblock %}

{% block pageScripts %}

     new AjaxEditableElements('#genre-container', 'edit/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    
    deleteTableRowRefresh = new AjaxDeleteTableRow('#genre-container', 'delete/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    
    new AjaxAddTableRow('#genre-container', 'add', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
       
        if( data.type == 'success' ) {
            var rowData = '<tr><th scope="row">' + data.genreId + '</th><td contenteditable="true" class="editable" data-id="' + data.genreId + '">' + data.genreName + '</td><td class="text-right"><a href="#" class="remove" data-id="' + data.genreId + '"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a></td></tr>';
            $('table').append(rowData);
        }
        });
    
    $('.genres-per-page').on('change', function() {
        console.log("asas");
       var genresPerPage = $(this).val();
       var url = window.location.pathname + '?page=1&genres_per_page=' + genresPerPage;
       $(location).attr('href', url);
    });
    
    $('#prev-page, #next-page').click(function(){
        var url = window.location.pathname;
        console.log();
    });

    
    
{% endblock %}

{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="genre-container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <span class="section-title text-left">View all available genres</span><hr/>

                Genres per page:        
                <select id="genres-per-page" class='genres-per-page'>
                    {% set values = [ 'all', 8, 16, 24 ]%}
                    {% for value in values %}
                        <option value="{{ value }}" {% if paginator.getResultsPerPage == value %} selected='selected' {% endif %} >{{ value }}</option>
                    {% endfor %}
                </select>    
                    
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genre in genreList %}
                        <tr>
                            <th scope="row">{{ genre.getId }}</th>
                            <td contenteditable="true" class="editable" data-id="{{ genre.getId }}">{{ genre.getName }}</td>
                            <td class="text-right">
                                <a href="javascript:void(0);" class="remove" data-id="{{ genre.getId }}"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a>
                            </td>
                        </tr>                            
                        {% endfor %}                  

                    </tbody>
                </table>

                <span class="section-title text-left">Add Genre</span><hr/>

                <div class="row">
                    <form method="post" action="{{ url('admin_genre_add') }}" class="addRow add-genre">

                        <div class="col-lg-9">
                            <label for="genreName"><i class="fa fa-film" aria-hidden="true"></i> New Genre Name</label>
                            <input class="form-control" type="text" id="genreName" name="genreName" placeholder="Enter a new Genre name" />
                        </div>

                        <div class="col-lg-3">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add new Genre</button>
                        </div>
                    </form>  
                </div>
                
                        {% if paginator.getCurrentPage > 1 %}
                        <a href="{{ url('admin_show_genres_paginated', {'page': paginator.getCurrentPage - 1, 'genres_per_page': paginator.getResultsPerPage}) }}" class='btn btn-link' >Back</a>
                    {% endif %}
                    {% if paginator.getCurrentPage < paginator.getTotalPages %}
                        <a href="{{ url('admin_show_genres_paginated', {'page': paginator.getCurrentPage + 1, 'genres_per_page': paginator.getResultsPerPage}) }}" class='btn btn-link' >Next</a>
                    {% endif %}
                    <a href='' id="next" type="button" value="Next" onclick='load("genre", {{paginator.getCurrentPage}})'/></a>
                    <a href='' id="prev" type="button" value="Previous" onclick='load("genre", {{paginator.getCurrentPage}})'/></a>
                

            </div>

        </div>
    </div>
</div>
{% endblock %}
