{% extends "layout.html" %}
{% block pageIncludes %}
    <script src="{{ app.request.basepath }}/js/AjaxEditableElements.js"></script>
    <script src="{{ app.request.basepath }}/js/AjaxDeleteTableRow.js"></script>
    <script src="{{ app.request.basepath }}/js/AjaxAddTableRow.js"></script>
{% endblock %}

{% block pageScripts %}

    new AjaxEditableElements('#genre-container', 'edit/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    
    new AjaxDeleteTableRow('#genre-container', 'delete/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    
    new AjaxAddTableRow('#genre-container', 'add', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });   
    
{% endblock %}

{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="genre-container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <span class="section-title text-center">View all available genres</span><hr/>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for genre in genreList %}
                        <tr>
                            <th scope="row">{{ genre.getId }}</th>
                            <td contenteditable="true" class="editable" data-id="{{ genre.getId }}">{{ genre.getName }}</td>
                            <td class="text-right">
                                <a href="#" class="remove" data-id="{{ genre.getId }}"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a>
                            </td>
                        </tr>                            
                        {% endfor %}                  

                    </tbody>
                </table>

                <span class="section-title text-center">Add Genre</span><hr/>

                <div class="row">
                    <form method="post" action="{{ url('admin_genre_add') }}" class="addRow">

                        <div class="col-lg-9">
                            <label for="genreName"><i class="fa fa-film" aria-hidden="true"></i> New Genre Name</label>
                            <input class="form-control" type="text" id="genreName" name="genreName" placeholder="Enter a new Genre name" />
                        </div>

                        <div class="col-lg-3">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add new Genre</button>
                        </div>
                    </form>  
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}