{% extends "layout.html" %}

{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">    
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for genre in genreList %}
                            <tr>
                                <th scope="row">{{ genre.getId }}</th>
                                <td>{{ genre.getName }}</td>
                                <td class="text-right">
                                    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                                    <a href="#"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a>
                                </td>
                            </tr>                            
                        {% endfor %}                        
                        
                    </tbody>
                </table>
                <div class="row">
                <form method="post" action="{{ url('admin_genre_add') }}" class="form-signin col-lg-4">
                    <span class="title text-center">Add Genre</span><hr/>

                    <label for="genre"><i aria-hidden="true"></i> New Genre Name</label>
                    <input class="form-control" type="email" id="email" name="email" value="{{ last_email|default("") }}" />


                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Genre <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>  
                </div>
                
            </div>

        </div>
    </div>
</div>
{% endblock %}
