{% extends "layout.html" %}

{% block content %}
<div class="banner text-center">
    {% for message in flashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <span class="section-title text-center">View all available genres</span><hr/>
            
            
                <form method="POST" action="{{ url('admin_movie_add') }}" enctype="multipart/form-data">

                    <label for="title"><i class="fa fa-envelope" aria-hidden="true"></i> Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{ last_title|default("") }}"/>

                    <label for="year"><i class="fa fa-key" aria-hidden="true"></i> Year</label>
                    <input class="form-control" type="text" id="year" name="year" value="{{ last_year|default("") }}" />

                    <label for="cast"><i class="fa fa-key" aria-hidden="true"></i> Cast (names separated by commas)</label>
                    <input class="form-control" type="text" id="cast" name="cast" value="{{ last_cast|default("") }}" />

                    <label for="duration"><i class="fa fa-key" aria-hidden="true"></i> Duration (hours)</label>
                    <input class="form-control" type="text" id="duration" name="duration" value="{{ last_duration|default("") }}"/>

                    <label for="poster"><i class="fa fa-key" aria-hidden="true"></i> Poster</label>
                    <input class="form-control" type="file" id="poster" name="poster"/> 

                    <!--                <form action="upload.php" method="post" enctype="multipart/form-data">
                                        Select image to upload:
                                        <input class="form-control" type="file" id="poster" name="poster" {{ last_poster|default("") }}/>
                                        <input type="submit" value="Upload Image" name="submit">
                                    </form>-->

                    <label for="link_imdb"><i class="fa fa-key" aria-hidden="true"></i> Imdb page link</label>
                    <input class="form-control" type="text" id="link_imdb" name="link_imdb" value="{{ last_link_imdb|default("") }}"/>

                    {% for genre in genreList %}
                    <input type="checkbox" name="genres[{{ loop.index0 }}]" value="{{ genre.getId }}"{% if genre.getId in last_genres %} checked {% endif %}/>
                           <label for="genres[{{ loop.index0 }}]">
                        {{ genre.getName }}
                    </label>
                    {% endfor %}

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
