{% extends "layout.html" %}


{% block pageIncludes %}
    <script src="{{ app.request.basepath }}/js/AjaxEditableElements.js"></script>
   
{% endblock %}


{% block pageScripts %}
    new AjaxEditableElements('#movie-container', 'edit/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });

    $('.genres-per-page').on('change', function() {
        console.log("asas");
       var genresPerPage = $(this).val();
       var url = window.location.pathname + '?page=1&genres_per_page=' + genresPerPage;
       $(location).attr('href', url);
    });
    
    $('#prev-page, #next-page').click(function(){
        var url = window.location.pathname;
        console.log();
    });
    
{% endblock %}
{% block content %}
<div class="banner text-center">

    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  
                                <span class="section-title text-center">Edit movie</span><hr/>

                {% for message in flashBag.get('error') %}
                   {{ message }}
                {% endfor %}




                <form method="POST" action="{{ url('admin_movie_edit', {'id' : movie.getId}) }}" enctype="multipart/form-data">

                    <label for="title"><i class="fa fa-envelope" aria-hidden="true"></i> Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{movie.getTitle}}"/>

                    <label for="genres"><i class="fa fa-envelope" aria-hidden="true"></i> Genres</label>
                    <br>
                    {% for genre in genreList %}
                    <input type="checkbox" name="genres[{{ loop.index }}]" value="{{ genre.getId }}"{% if genre.getName in movie.getGenres %} checked {% endif %}/>
                           <label for="genres[{{ loop.index }}]">
                        {{ genre.getName }}
                    </label>
                    {% endfor %}  
                    <br>
                    <label for="year"><i class="fa fa-key" aria-hidden="true"></i> Year</label>
                    <input class="form-control" type="text" id="year" name="year" value="{{ movie.getYear }}" />

                    <label for="cast"><i class="fa fa-key" aria-hidden="true"></i> Cast (names separated by commas)</label>
                    <input class="form-control" type="text" id="cast" name="cast" value="{{ movie.getCast }}" />

                    <label for="duration"><i class="fa fa-key" aria-hidden="true"></i> Duration (hours)</label>
                    <input class="form-control" type="text" id="duration" name="duration" value="{{ movie.getDuration }}" readonly/>

                    <label for="poster"><i class="fa fa-key" aria-hidden="true"></i> Poster</label>
                    <input class="form-control" type="file" id="poster" name="poster" value="{{ movie.getPoster }}"/> 
                    <label for="link_imdb"><i class="fa fa-key" aria-hidden="true"></i> Imdb page link</label>
                    <input class="form-control" type="text" id="link_imdb" name="link_imdb" value="{{ movie.getLinkImdb }}"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
                
            </div>
 
        </div>
    </div>
</div>
{% endblock %}
