{% extends "layout.html" %}

{% block content %}
<div class="banner text-center">
    {% for message in flashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <span class="section-title text-center">View all available genres</span><hr/>
            
                
                <form method="POST" action="{{ url('admin_movie_edit', {'id' : movie.getId}) }}" enctype="multipart/form-data">

                    <label for="title"><i class="fa fa-envelope" aria-hidden="true"></i> Title</label>
                    <input class="form-control" type="text" id="title" name="title" value="{{movie.getTitle}}"/>

                    <label for="genres"><i class="fa fa-envelope" aria-hidden="true"></i> Genres</label>
                    <br>
                    {% for genre in genreList %}
                        <input type="checkbox" name="genres[{{ loop.index0 }}]" value="{{ genre.getId }}"{% if genre.getId in movie.getGenres %} checked {% endif %}/>
                               <label for="genres[{{ loop.index0 }}]">
                            {{ genre.getName }}
                        </label>
                    {% endfor %}  
                    <br>
                    <label for="year"><i class="fa fa-key" aria-hidden="true"></i> Year</label>
                    <input class="form-control" type="text" id="year" name="year" value="{{ movie.getYear }}" />

                    <label for="cast"><i class="fa fa-key" aria-hidden="true"></i> Cast (names separated by commas)</label>
                    <input class="form-control" type="text" id="cast" name="cast" value="{{ movie.getCast }}" />

                    <label for="duration"><i class="fa fa-key" aria-hidden="true"></i> Duration (hours)</label>
                    <input class="form-control" type="text" id="duration" name="duration" value="{{ movie.getDuration }}"/>

                    <label for="poster"><i class="fa fa-key" aria-hidden="true"></i> Poster</label>
                    <input class="form-control" type="file" id="poster" name="poster" value="{{ movie.getPoster }}"/> 

                    <!--                <form action="upload.php" method="post" enctype="multipart/form-data">
                                        Select image to upload:
                                        <input class="form-control" type="file" id="poster" name="poster" {{ last_poster|default("") }}/>
                                        <input type="submit" value="Upload Image" name="submit">
                                    </form>-->

                    <label for="link_imdb"><i class="fa fa-key" aria-hidden="true"></i> Imdb page link</label>
                    <input class="form-control" type="text" id="link_imdb" name="link_imdb" value="{{ movie.getLinkImdb }}"/>

                    

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
