{% extends "layout.html" %}

{% block pageIncludes %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block pageScripts %}

$('.time-select').timepicker({
'minTime': '8:00am',
'maxTime': '20:00pm',
'step': 120,
'timeFormat': 'H:i:s'
});

$( ".datepicker" ).datepicker({
dateFormat: "yy-mm-dd",
});

function getCurrentYear() {

var now = new Date();
return now.getFullYear();

}
var currentYear = getCurrentYear();
$("#year").attr("max", currentYear);


$('.filters ul.filter-options li').on('click', function() {
$(this).toggleClass('active');
var option = $(this).data('id');

$('.filters ul.filter-options li').each(function() {
if($(this).hasClass('active'))
$(this).toggleClass('active');
});

$('.filters .display-options #' + option).slideToggle().addClass('active');

$('#end-date').on('change', function(){
start_date = $('#start-date').val();
if(start_date !== '' && start_date > $(this).val()){
$("#date-err").remove();
$('#date-err-display').append('<span id="date-err" style="color: red"> (temporal paradox: start date > end date) </span>');
} else {
$("#date-err").remove();
}
});

$('#start-date').on('change', function(){
end_date = $('#end-date').val();
if(end_date !== '' && end_date < $(this).val()){
$("#date-err").remove();
$('#date-err-display').append('<span id="date-err" style="color: red"> (temporal paradox: start date > end date) </span>');
} else {
$("#date-err").remove();
}
});

$('#end-time').on('change', function(){
start_time = $('#start-time').val();
if(start_time !== '' && start_time > $(this).val()){
$("#time-err").remove();
$('#time-err-display').append('<span id="time-err" style="color: red"> (temporal paradox: start time > end time) </span>');
} else {
$("#time-err").remove();
}
});

$('#start-time').on('change', function(){
end_time = $('#end-time').val();
if(end_time !== '' && end_time < $(this).val()){
$('#time-err-display').append('<span id="time-err" style="color: red"> (temporal paradox: start time > end time) </span>');
} else {
$("#time-err").remove();
}
});

});
{% endblock %}
{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message
    }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="homepage">
        <div class="wrapper col-lg-12 col-centered">
            <div class="filters clearfix">
                <form class="form-horizontal" method="post" action="{{ url( 'filter' ) }}">
                    <div class="col-lg-6 options">
                        <div class="row">
                            <label>Search options</label>
                            <ul class="filter-options">
                                <li data-id="genre"><i class="fa fa-film" aria-hidden="true"></i> Genre</li>
                                <li data-id="release"><i class="fa fa-rocket" aria-hidden="true"></i> Release year</li>
                                <li data-id="schedule"><i class="fa fa-book" aria-hidden="true"></i> Schedule</li>
                                <li data-id="sort"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort</li>
                                <li data-id="results"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Pagination</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 searchbox">
                        <label><br></label>
                        <div class="row">
                            <div class="col-lg-10">
                                <input type="text" id="search" name = conditions[title] placeholder="Title similar to ..." class="form-control">
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="display-options col-lg-12 clearfix">
                        <div class="row">

                            <div id="genre" class="option">
                                <label for="genre-select">Genre:</label>
                                <select id="genre-select" name="conditions[filters][name]" class="form-control">
                                    <option value="all">All genres</option>
                                    {% for genre in genreList %}
                                    <option value="{{ genre.getName }}">{{ genre.getName }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="release" class="option">
                                <label for="year">Released in:</label>
                                <input type="number" class="form-control" id="year" name="conditions[filters][year]" min="1900" placeholder="Type a year (1900-present)">
                            </div>

                            <div id="schedule" class="option">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="date-select" id="date-err-display">Scheduled starting from date:</label>
                                        <input class="form-control date-select datepicker date" id="start-date" name="conditions[between][start_date]" placeholder="Choose date">
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="time-select" id="time-err-display">Scheduled starting from time:</label>
                                        <input class="form-control time-select" id="start-time" name="conditions[between][start_time]" placeholder="Choose time">
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="date-select">Scheduled before date:</label>
                                        <input class="form-control date-select datepicker date" id="end-date" name="conditions[between][end_date]" placeholder="Choose date">
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="time-select">Scheduled before time:</label>
                                        <input class="form-control time-select" id="end-time" name="conditions[between][end_time]" placeholder="Choose time">
                                    </div>
                                </div>
                            </div>

                            <div id="sort" class="option">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="sort-select">Sorted by:</label>
                                        <select id="sort-select" name="conditions[sort][column]" class="form-control">
                                            {% set sorts = search_options['homepage_filters']['sortable_by'] %}
                                            {% for sort in sorts %}
                                            <option value="{{ sort|lower }}"> {{ sort }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="sort-order-select">Sort order:</label>
                                        <select id="sort-order-select" name="conditions[sort][flag]" class="form-control">
                                            {% set flags = search_options['homepage_filters']['sort_flag'] %}
                                            {% for flag in flags %}
                                            <option value="{{ flag|lower }}"> {{ flag }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="results" class="option">
                                <label for="pagination-select">Results per page:</label>
                                <select id="pagination-select" name="conditions[pagination][movies_per_page]" class="form-control">
                                    {% set per_pages = search_options['homepage_filters']['per_page'] %}
                                    {% for per_page in per_pages %}
                                    <option value="{{ per_page }}"> {{ per_page }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                
                {% if conditions is defined and conditions is not null %}
                    <div class="search-criteria clearfix">
                    <p> <strong><i class="fa fa-search" aria-hidden="true"></i> Search criteria</strong>: 
                    {% if conditions['filters']['name'] is defined and conditions['filters']['name'] is not empty %}
                        {{ conditions['filters']['name'] }} movies
                    {% endif %}
                    
                    {% if conditions['title'] is defined and conditions['title'] is not empty %}
                        + with a title similar to {{ conditions['title'] }}
                    {% endif %}

                    {% if conditions['filters']['year'] is defined and conditions['filters']['year'] is not empty  %}
                        + released in {{ conditions['filters']['year'] }}
                    {% endif %}

                    {% if conditions['between']['start_date'] is defined and conditions['between']['start_date'] is not empty %}
                        + scheduled before {{ conditions['between']['start_date'] }}
                    {% endif %}


                    {% if conditions['between']['end_date'] is defined and conditions['between']['end_date'] is not empty  %}                        
                        + scheduled after {{ conditions['between']['end_date'] }}
                    {% endif %}

                    {% if conditions['between']['start_time'] is defined and conditions['between']['start_time'] is not empty  %}    
                        + scheduled after {{ conditions['between']['start_time'] }}
                    {% endif %}

                    {% if conditions['between']['end_time'] is defined and conditions['between']['end_time'] is not empty  %}
                        + scheduled before {{ conditions['between']['end_time'] }}                       
                    {% endif %}

                    {% if conditions['sort']['column'] is defined and conditions['sort']['column'] is not empty  %}
                        + sorted by {{ conditions['sort']['column'] }}
                    {% endif %}

                    {% if conditions['sort']['flag'] is defined and conditions['sort']['flag'] is not empty  %}
                        + displayed in {{ conditions['sort']['flag'] }} order
                    {% endif %}
                    </p>
                    </div>
                {% endif %}
                
            </div>

            <div class="movies-container clearfix" id="scroll">
                {% for movie in movieList %}
                <div class="movie col-lg-3">
                    <p>{{ movie.getTitle }} {{movie.getYear}}</p>
                    <a href="{{ url('show_movie', {'id' : movie.getId}) }}"><img src="{{ app.request.basepath }}{{ movie.getPoster }}" class="img-responsive" /></a>
                </div>
                {% endfor %}
            </div>
            
            <div class="pagination-container clearfix">
                <div class="col-lg-12">
                        <ul class="pagination pull-right">
                            {% if paginator.getCurrentPage > 1 %}
                                <li><a href="{{ url('homepage', {'page': paginator.getCurrentPage - 1, 'movies_per_page': paginator.getResultsPerPage}) }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a></li>
                            {% endif %}                

                            {% if paginator.getCurrentPage < paginator.getTotalPages %}
                                <li><a href="{{ url('homepage', {'page': paginator.getCurrentPage + 1, 'movies_per_page': paginator.getResultsPerPage}) }}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}    
                        </ul>
                </div>
            </div>
            
        </div>

    </div>
</div>
{% endblock %}
