{% extends 'layout.html' %}

{% block pageIncludes %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block pageScripts %}

$('.time-select').timepicker({
'minTime': '8:00am',
'maxTime': '20:00pm',
'step': 120,
'timeFormat': 'H:i:s'
});

$( ".datepicker" ).datepicker({
dateFormat: "yy-mm-dd",
minDate: 0,
});


{% endblock %}


{% block title%} Schedule Movie {% endblock %}

{% block content %}
<div class="authArea">
    <div class="container">         
         <span class="title text-center">
                {% for message in flashBag.get('error') %}
                {{ message }}
                {% endfor %}
                {% for message in flashBag.get('success') %}
                {{ message }}
                {% endfor %} 
            </span><hr/>
        <form method="POST" action="{{ url('admin_handle_schedule') }}">           
            <span class="title text-center">Schedule a movie</span><hr/>                
            
            <label for="movie"><i class="fa fa-video-camera" aria-hidden="true"></i> Select Movie </label>
            <select name="movie">
                {% for movie in movies %}
                <option value="{{movie.id}}">{{movie.title}}</option>                
                {% endfor %}
            </select>       
            <br><br>                 
            
            <label for="date">Select Date</label>                 
	    <input class="form-control date-select datepicker date" name="date" placeholder="Choose date">                          
            
            <label for="time"> Select Time </label>                
            <input class="form-control time-select" name="time" placeholder="Choose time">            
                
            <br><br>
            
            <label for="room"> Select Room </label>
            <select name="room">
                {% for room in rooms %}
                <option value="{{room.id}}">{{room.name}}</option>                
                {% endfor %}
            </select>                  
            <br><br>
            
            <label for="price"> Ticket price </label>
            <input type="text" name="price" value="">
            <br><br>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Done</button>
        </form>
    </div>       
</div>
{% endblock %}


