{% extends "layout.html" %}


{% block pageIncludes %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block pageScripts %}

    $('.time-select').timepicker({
        'minTime': '8:00am',
        'maxTime': '20:00pm',
        'step': 120,
        'timeFormat': 'H:i:s'
    });

    $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0,
    });

{% endblock %}


{% block content %}


<div class="banner text-center">
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="addmovie-container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <span class="section-title text-center">Schedule a movie</span><hr/>

                <form method="POST" action="{{ url('admin_handle_schedule') }}" enctype="multipart/form-data">

                    <div class="add-movie col-lg-9 col-centered">
                        {% for message in flashBag.get('error') %}
                        {{ message }}
                        {% endfor %}
                        {% for message in flashBag.get('success') %}
                        {{ message }}
                        {% endfor %}

                        <div class="row">
                            <div class="col-lg-12">
                                <label for="movie"><i class="fa fa-video-camera" aria-hidden="true"></i> Select Movie </label>
                                <select class="form-control" name="movie">
                                    {% for movie in movies %}
                                        <option value="{{movie.id}}">{{movie.title}}</option>                
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="cast"><i class="fa fa-calendar" aria-hidden="true"></i> Date</label>
                                <input class="form-control date-select datepicker date" name="date" placeholder="Choose date">   
                            </div>
                            <div class="col-lg-6">
                                <label for="duration"><i class="fa fa-clock-o" aria-hidden="true"></i> Time</label>
                                <input class="form-control time-select" name="time" placeholder="Choose time">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="room"><i class="fa fa-map-marker" aria-hidden="true"></i> Room</label>
                                <select class="form-control" id="room" name="room">
                                    {% for room in rooms %}
                                        <option value="{{room.id}}">{{room.name}}</option>                
                                    {% endfor %}
                                </select>    
                            </div>
                            <div class="col-lg-6">
                                <label for="price"><i class="fa fa-usd" aria-hidden="true"></i> Price</label>
                                <input class="form-control" type="text" id="price" name="price" value="" placeholder="Price" />
                            </div>
                        </div>
                        
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Schedule movie <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
