{% extends "layout.html" %}

{% block title%} View schedules {% endblock %}

{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">
        <div class="wrapper col-lg-12 col-centered">           
            <label for="date"> Select date </label>                
            <select id =date_selector name="date">
                {% for date in schedules %}
                <option value="{{date}}">{{date}}</option>                  
                {% endfor %}
            </select>            
            <div class="showList">    
                <table id="schedules" class="table" style="color:black">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hour</th>
                            <th>Movie</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ app.request.basepath }}/js/AjaxSchedulesPerDay.js"></script>
{% endblock %}

