{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
    $.webshims.formcfg = {
        en: {
            dFormat: '-',
            dateSigns: '-',
            patterns: {
                d: "yy-mm-dd"
            }
        }
    };
</script>


<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">

        <div class="wrapper col-lg-12 col-centered">
            <span class="section-title text-center">View Occupancy Level</span><hr/>
            <form class="occupancy_form" style="color:black" method="GET" action="{{ url('admin_query_occupancy') }}"> 
                <label>Select Room</label>
                <br>
                <select id="room_id_selector" name="room">
                    <option value="all">All</option>
                    {% if rooms %}
                    {% for key,room in rooms %}
                    {% if key==selected-1 %}
                    <option value="{{room.id}}" selected>{{room.name}}</option>
                    {% else %}
                    <option value="{{room.id}}">{{room.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <button name="search_occupancy">Get Occupancy Level</button>
            </form>
            {% if show_results %}
            <div class="showList">
                <table class="table" style="color:#2c3e50">
                    <thead>
                        <tr>
                            <th>Room Name</th>
                            <th>Date</th>
                            <th>Hours</th>
                            <th>Occupancy Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,schedule in schedules %}
                        <tr>
                            <td scope="row">{{schedule.getId()}} </td>
                            <td scope="row">{{schedule.getStringDate()}} </td>
                            <td scope="row">{{schedule.getTime()}} </td>
                            <td scope="row">{{attribute(occupancy,key)}}% </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}
        </div>
    </div>
</div>

<script src="{{ app.request.basepath }}/js/getoccupancy.js"></script>
{% endblock %}