{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
    $.webshims.formcfg = {
        en: {
            dFormat: '-',
            dateSigns: '-',
            patterns: {
                d: "yy-mm-dd"
            }
        }
    };
</script>


<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container">

        <div class="wrapper col-lg-12 col-centered">
            
            {% if show_results %}
            
            <div class="showList">
                
                <div class="section-title">
                    <p class="pull-left">View all available Genres</p>
                    <div class="users-per-page pull-right">
                        <span>Filter by Room</span>
                        <select id="room_id_selector" name="room" class="form-control">
                            <option value="all">All</option>
                            {% if rooms %}
                            {% for key,room in available_rooms %}
                            {% if key==selected-1 %}
                            <option value="{{room.getId()}}" selected>{{room.getName()}}</option>
                            {% else %}
                            <option value="{{room.getId()}}">{{room.getName()}}</option>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </select>

                        <span>Filter by Date</span>
                        <select id="schedule_date_selector" name="room" class="form-control">
                            <option value="all">All</option>
                            {% if dates %}
                            {% for key,date in dates %}
                            <option value="{{date}}">{{attribute(dates_formated,key)}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>     

                        <span>Filter by Time</span>
                        <select id="schedule_time_selector" name="room" class="form-control">
                            <option value="all">All</option>
                            {% if times %}
                            {% for key,time in times %}
                            <option value="{{time}}">{{time}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>                    
                    </div>                    
                </div>                 
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Room Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Occupancy Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'Occupancy/occupancy_table.html' %}
                    </tbody>
                </table>
            </div>

            {% endif %}
        </div>
    </div>
</div>

<script src="{{ app.request.basepath }}/js/getoccupancy.js"></script>
{% endblock %}