{% extends "layout.html" %}
{% block pageIncludes %}
<script src="{{ app.request.basepath }}/js/AjaxEditableDoubleColumns.js"></script>
<script src="{{ app.request.basepath }}/js/AjaxAddTableRow.js"></script>
{% endblock %}

{% block pageScripts %}

new AjaxEditableDoubleColumns({'name': 'name', 'capacity': 'capacity'},'#room-container', 'edit/{id}', function (data) {
swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
});

$('#rooms-per-page').on('change', function() {
var roomsPerPage = $(this).val();
var url = window.location.pathname + '?page=1&rooms_per_page=' + roomsPerPage;
$(location).attr('href', url);
});

$('#prev-page, #next-page').click(function(){
var url = window.location.pathname;
});

new AjaxAddTableRow('#room-container', 'add', function (data) {
swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});

if( data.type == 'success' ) {
var rowData = '<tr><th scope="row">' + data.roomId + '</th><td contenteditable="true" class="editable" data-id="' + data.roomId + '">' + data.roomName + '</td><td contenteditable="true" class="editable" data-id="' + data.roomId + '">' + data.roomCapacity + '</td>';
    $('table').append(rowData);
    }
    });   


    {% endblock %}

    {% block content %}
<div class="banner text-center">
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="room-container">
        <div class="wrapper col-lg-12 col-centered">

            <div class="showList">  

                <div class="section-title">
                    <p class="pull-left">View all available Rooms</p>

                    <div class="rooms-per-page pull-right">
                        <span>Rooms per page</span>
                        <select class="form-control" id="rooms-per-page">
                            {% set values = [ 'all', 8, 16, 24 ]%}
                            {% for value in values %}
                            <option value="{{ value }}" {% if paginator.getResultsPerPage == value %} selected='selected' {% endif %} >{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>                    
                </div>                

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Capacity</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for room in roomList %}
                        <tr>
                            <th scope="row">{{ room.getId }}</th>
                            <td contenteditable="true" class="editable name" data-id="{{ room.getId }}" >{{ room.getName }}</td>
                            <td contenteditable="true" class="editable capacity" data-id="{{ room.getId }}" >{{ room.getCapacity }}</td>
                        </tr>                            
                        {% endfor %}                        

                    </tbody>
                </table>

                <div class="pagination-container clearfix">
                    <div class="col-lg-12">
                        <ul class="pagination pull-right">
                            {% if paginator.getCurrentPage > 1 %}
                            <li><a href="{{ url('admin_show_all_rooms_paginated', {'page': paginator.getCurrentPage - 1, 'rooms_per_page': paginator.getResultsPerPage}) }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a></li>
                            {% endif %}

                            {% if paginator.getCurrentPage < paginator.getTotalPages %}
                            <li><a href="{{ url('admin_show_all_rooms_paginated', {'page': paginator.getCurrentPage + 1, 'rooms_per_page': paginator.getResultsPerPage}) }}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}    
                        </ul>
                    </div>
                </div>

                <span class="section-title text-left">Add a new Room</span><hr/>

                <div class="row">
                    <form method="post" action="{{ url('admin_room_add') }}" class="addRow">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="roomName"><i class="fa fa-map-marker" aria-hidden="true"></i> Room Name</label>
                                    <input class="form-control" type="text" id="roomName" name="roomName" placeholder="Enter room name" />
                                </div>

                                <div class="col-lg-6">
                                    <label for="roomCapacity"><i class="fa fa-users" aria-hidden="true"></i> Room Capacity</label>
                                    <input class="form-control" type="text" id="roomCapacity" name="roomCapacity" placeholder="Enter the capacity of the room" />
                                </div>

                                <div class="col-lg-12">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add new Room</button>
                                </div>
                            </div>
                        </div>
                    </form>  
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}