{% extends "layout.html" %}


{% block pageIncludes %}
    <script src="{{ app.request.basepath }}/js/AjaxToggleUserStatus.js"></script>
    <script src="{{ app.request.basepath }}/js/AjaxDeleteTableRow.js"></script>
{% endblock %}

{% block pageScripts %}

    $('#user-container table .changeStatus').find('.changeUserStatus').each(function(index, element) {
       if( $(this).data('status') == 1) {
           $(this).addClass('selected');
       } else {
           $(this).parent().find('span').text('Inactive').addClass('inactive');
       }
    });

    $('#user-container table .changeUserStatus').on('click', function () {
        $(this).toggleClass('selected');

        if( $(this).parent().find('span').hasClass('inactive') ) {
            $(this).parent().find('span').text('Active');
            $(this).parent().find('span').toggleClass('inactive');
        } else {
            $(this).parent().find('span').text('Inactive');
            $(this).parent().find('span').toggleClass('inactive');
        }
  
    });

    new AjaxToggleUserStatus('#user-container', 'user/changeStatus/{id}', function () {
    });
    
    $('.users-per-page').on('change', function() {
       var usersPerPage = $(this).val();
       var url = window.location.pathname + '?page=1&users_per_page=' + usersPerPage;
       $(location).attr('href', url);
    });
    
    new AjaxDeleteTableRow('#user-container', 'user/remove/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    
 
    $('#prev-page, #next-page').click(function(){
        var url = window.location.pathname;
        console.log();
    });
    
    new AjaxDeleteTableRow('#genre-container', 'delete/{id}', function (data) {
        swal({title: data.title, text: data.message, type: data.type, timer: 1500, showConfirmButton: false});
    });
    

{% endblock %}

{% block content %}
<div class="banner text-center">
    {% for message in app.session.getFlashBag.get('error') %}
    {{ message }}
    {% endfor %}
    <h1>Cinema Village</h1>
    <h2>A new generation movie theater in your town. Try us!</h2>
</div>

<div class="wrapperArea">
    <div class="container" id="user-container">
        <div class="wrapper col-lg-12 col-centered">
            <div class="showList">
                <span class="section-title text-center">View all available users</span><hr/>
                Users per page:        
                <select id="users-per-page" class='users-per-page'>
                    {% set values = [ 1, 2, 4, 8, 'all' ]%}
                    {% for value in values %}
                        <option value="{{ value }}" {% if usersPerPage == value %} selected='selected' {% endif %} >{{ value }}</option>
                    {% endfor %}
                </select>
                
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in userList %}
                        <tr>
                            <th scope="row">{{ user.getId }}</th>
                            <td data-id="{{ user.getEmail }}">{{ user.getEmail }}</td>
                            <td class="text-right">
                                <div class="changeStatus" data-id="{{ user.getId }}">         
                                    <div data-status="{{ user.getActive }}" class="changeUserStatus">
                                        <button></button>
                                    </div>
                                    <span>Active</span>
                                </div>
                                <a href="#" class="remove" data-id="{{ user.getId }}"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a>

                                <!--<a href="{{ path('admin_remove_user', {'id': user.getId}) }}"><i class="fa fa-trash fa-1x" aria-hidden="true"></i> Remove</a>-->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    {% if currentPage > 1 %}
                        <a href="{{ url('admin_show_all_users_paginated', {'page': currentPage - 1, 'users_per_page': usersPerPage}) }}" class='btn btn-link' >Back</a>
                    {% endif %}
                    {% if currentPage < maxPage %}
                        <a href="{{ url('admin_show_all_users_paginated', {'page': currentPage + 1, 'users_per_page': usersPerPage}) }}" class='btn btn-link' >Next</a>
                    {% endif %}
                    <a href='' id="next" type="button" value="Next" onclick='load("users", {{currentPage}})'/></a>
                    <a href='' id="prev" type="button" value="Previous" onclick='load("users", {{currentPage}})'/></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
