{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<p>
			<img class="img-responsive" src="{{ asset('img/llama-farma.jpg') }}" alt="Llama Farmer? No problem!">
		</p>
		<p class="lead">Llama farmer? No problem, add your best llama pic above!</p>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h2>Who Are We?</h2>
			<p>We are Lily &amp; Larry's Llamas. Llama farmers from Llangynidr in Wales.</p>
			<h2>What Are Your Plans?</h2>
			<p>To breed, show &amp; shear award winning Llamas with bows in their fur.</p>
			<h2>This Is Madness!</h2>
			<p>That is because this is a demo, none of this content matters. It is all just nonsense.</p>
		</div>
		<div class="col-md-4">
			<h3>Is This A Sidebar?</h3>
			<p>Yes... Yes, it is. You could add more Llama based links here.</p>
		</div>
	</div>
{% endblock %}