{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Congratulations!</h1>
		<p class="lead">You have found the road to nowhere. Have a baby Chinchilla.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				<img class="center-block" src="{{ asset('img/baby-chin.jpg') }}" alt="Baby Chinchilla by Greencolander">
			</p>
			<p class="text-center">
				<small>Photo 'Baby Chin' by <a href="https://www.flickr.com/photos/greencolander/" title="Greecolander on Flickr">Greencolander</a></small>
			</p>
		</div>
	</div>
{% endblock %}