<?php

return [
    'database' => [
        'user' => 'root',
        'password' => 'root',
    ],
    'mailer' => [
        'user' => 'cinema.village.cluj@gmail.com',
        'password' => 'nxdjsqeuflrwylpc'
    ]
 ];