{% extends 'layout.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="banner">
    <h2>Login into your account</h2>
    {% for message in app.session.getFlashBag.get('error') %}
            {{ message }}
        {% endfor %}
    {% for message in app.session.getFlashBag.get('success') %}
            {{ message }}
        {% endfor %}
    <form method="POST" action="{{ url('handle_login') }}">
        email: <input type="email" name="email" /><br />
        password: <input type="password" name="password" /><br />
        <input type="submit" name="submit" value="Login" />
    </form>
</div>
{% endblock %}
