<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}"><i class="fa fa-video-camera" aria-hidden="true"></i> Cinema Village</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('homepage') }}">Home</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ url('admin_room_show_all') }}">ROOMS</a></li>
                <li><a href="{{ url('admin_genre_show_all') }}">GENRE</a></li>
                <li><a href="{{ url('admin_show_all_users_paginated') }}">USERS</a></li>
                <li><a href="{{ url('admin_movie_add') }}">Add a new movie</a></li>
                <li><a href="{{ url('admin_show_schedule_page') }}">Schedule a movie</a></li>
                <li> <a href="{{ url('admin_show_schedule_list') }}">View schedules</a></li>
                <li><a href="{{ url('admin_show_occupancy') }}">Occupancy</a></li>
                <li><a href="{{ url('admin_show_scheduled_movies_paginated') }}">Scheduled movies</a></li>
                {% endif %}
                <li><a href="{{url('show_profile')}}">Profile</a></li>
                <li><a href="{{url('logout')}}">Logout</a></li>
                {% else %}
                <li><a href="{{ url('show_register_page') }}">Register</a></li>
                <li><a href="{{ url('login') }}">Login</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
