{% extends 'layout.html' %}
{% block title %}
    Register
{% endblock %}

{% block content %}

    <div class="authArea">
        <div class="container">
            
          <div class="col-lg-6 col-centered">
                
            <h1 class="text-center"><i class="fa fa-video-camera" aria-hidden="true"></i> CinemaVillage</h1>
            
            {% for message in flashBag.get('error') %}
                {% if message is defined and message is not empty %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}            
            {% for message in flashBag.get('error') %}
                {% if message is defined and message is not empty %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}     
            <form class="form-signin" method="POST" action="{{ url('handle_register') }}">
                
                <span class="title text-center">Create a new account</span><hr/>
                
                <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email address</label>
                <input class="form-control" type="email" id="email" name="email" value="{{ last_email|default("") }}"/>
                
                <label for="password"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                <input class="form-control" type="password" id="email" name="password" />
                
                <label for="confirmPassword"><i class="fa fa-key" aria-hidden="true"></i> Confirm Password</label>
                <input class="form-control" type="password" id="confirmPassword" name="password_retype" />
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </form>

        </div>
    </div>

{% endblock %}
