{% extends "layout.html" %}

{% block content %}
    <div class="banner text-center">
        {% for message in flashBag.get('success') %}
                {% if message is defined and message is not empty %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}  
        <h1>Cinema Village</h1>
        <h2>Hello {{ user.getEmail }}</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <h2>You are admin!</h2>          
        {% endif %}
    </div>
{% endblock %}
